<input type="button" value="Logout" id="logout-button" />
<div id="topics-container"></div>
<div id="topics">
    <label>Title: </label>
    <input type="text" id="topic-title" />
    <label>Message: </label>
    <input type="text" id="topic-body" />
    <input type="button" value="Send" id="sendmsg-button" />
</div>
<div id="filter-options">
    <div>
        <label>Enter username</label>
        <input type="text" id="filter-text" />
        <input type="button" value="Filter by username" id="filter-username-button" />
    </div>
    <div>
        <label>Enter part of text</label>
        <input type="text" id="filter-pattern" />
        <input type="button" value="Filter by part of text" id="filter-pattern-button" />
    </div>
    <input type="button" value="Both" id="filter-both-button" />
</div>