h1.home-icon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUBAMAAACdextHAAAAD1BMVEUAAACZAADx8fH//wD////gI+cyAAAAS0lEQVR4Xo3OwQ3AIAxDUSthgI4QMUGkLMDB+89ULKDHtj49/ZPRz+KF6NdmlB06cjOSjkVvHCkqkm6TilRWpWaLA+1h/SY08ev6DYKVGtsouksOAAAAAElFTkSuQmCC') /*home.png*/ no-repeat;
    *background: url(home.png) no-repeat; /* For IE 6 and 7 */
    padding-left: 20px;
}

    h1.home-icon a {
        text-decoration: none;
        color: black;
    }

body {
    background-color: #dcd5d5;
}

    body nav h1 {
        font-size: 1.2em;
        font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    }

    body nav dl dt {
        font-weight: bold;
        font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    }

    body nav dl dd {
        margin: 0;
    }

    body nav dl a {
        text-decoration: none;
        color: black;
    }

        body nav dl a:hover {
            text-decoration: underline;
            color: green;
        }

nav.nav-aside {
    float: left;
}

h2 {
    background-color: #aea8a8;
    padding-left: 5px;
    color: white;
    font-size: 1.2em;
}

div.page-content {
    margin: 0 5px 0 20px;
    padding-bottom: 26px;
    float: left;
    background-color: white;
    width: 800px;
    border: 2px solid #8A8A8A;
}

    div.page-content header h1 {
        padding-left: 10px;
        font-size: 1.8em;
    }

body div section article p {
    margin: 3px;
}

a {
    color: #961917;
}

hr {
    color: whitesmoke;
}

img.image {
    float: left;
    margin-right: 20px;
}

.clearfix {
    zoom: 1;
}

    .clearfix:after {
        content: "";
        display: block;
        clear: both;
        height: 0;
    }


nav.page-change ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav.page-change ul li {
        float: left;
        border: 2px solid black;
        margin-left: 10px;
    }

        nav.page-change ul li a {
            text-decoration: none;
            padding: 0 20px 0 20px;
        }

.prev:before {
    content: "◄";
}

.next:after {
    content: "►";
}

aside section {
    margin: 0 0 2px 0;
    float: left;
    border: 2px solid #8A8A8A;
    width: 200px;
    text-align: center;
    background-color: white;
}

    aside section h2 {
        margin: 0;
    }

    aside section ul {
        margin: 0;
        padding: 0 0 3px 0;
        list-style-type: none;
    }
