html,
body,
div,
ul,
li,
a,
table,
tfoot,
tbody,
thead,
tr,
td,
th {
  padding: 0;
  margin: 0;
}
div#wrapper {
  width: 960px;
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
  font-size: 16px;
}
div#wrapper ul.tab-strip {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
  margin: 15px;
  height: 230px;
}
div#wrapper ul.tab-strip > li {
  display: inline-block;
  padding: 5px 0;
  border-left: 1px solid black;
}
div#wrapper ul.tab-strip > li a.tab-btn {
  background: #ebebeb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebebeb 0%, #ababab 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #ababab));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ebebeb 0%, #ababab 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ebebeb 0%, #ababab 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ebebeb 0%, #ababab 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ebebeb 0%, #ababab 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ababab', GradientType=0);
  /* IE6-9 */
  font-size: 1.4em;
  color: black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 15px;
}
div#wrapper ul.tab-strip > li div.tab-content {
  position: absolute;
  top: 50px;
  left: 20px;
  display: none;
}
div#wrapper ul.tab-strip > li div.tab-content ul {
  list-style-type: disc;
}
div#wrapper ul.tab-strip > li div.tab-content ul li ul {
  padding-left: 25px;
  list-style-type: lower-alpha;
}
div#wrapper ul.tab-strip > li div.tab-content table {
  background: #ababab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ababab 0%, #eeeeee 15%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ababab), color-stop(15%, #eeeeee), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ababab 0%, #eeeeee 15%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ababab 0%, #eeeeee 15%, #eeeeee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ababab 0%, #eeeeee 15%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ababab 0%, #eeeeee 15%, #eeeeee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */
  border-collapse: collapse;
}
div#wrapper ul.tab-strip > li div.tab-content table tr th,
div#wrapper ul.tab-strip > li div.tab-content table tr td {
  border: 1px solid black;
}
div#wrapper ul.tab-strip > li div.tab-content table tr td {
  padding: 5px 5px;
}
div#wrapper ul.tab-strip > li div.tab-content table tr th {
  padding: 5px 15px;
  text-align: center;
}
div#wrapper ul.tab-strip > li.current div.tab-content {
  display: block;
}
div#wrapper ul.tab-strip > li:first-of-type {
  border-left: none;
}
div#wrapper ul.tab-strip > li:last-of-type a {
  border-right: none;
}
div#wrapper ul.tab-strip > li:hover a {
  background: #EEEEEE;
}
div#wrapper ul.tab-strip > li.current {
  border: none;
}
div#wrapper ul.tab-strip > li.current a {
  background: white;
  border: none;
  font-weight: bold;
}
/*# sourceMappingURL=task2.css.map */